<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844689647056-k48bl0gquop630it1d7hgd79nboisc0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844689647056-k48bl0gquop630it1d7hgd79nboisc0a</string>
	<key>API_KEY</key>
	<string>AIzaSyDJVX-9zACj0y3V9iF44LflBOIC9ZQhANI</string>
	<key>GCM_SENDER_ID</key>
	<string>844689647056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantMama</string>
	<key>PROJECT_ID</key>
	<string>plantmama-78fc4</string>
	<key>STORAGE_BUCKET</key>
	<string>plantmama-78fc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844689647056:ios:702a563574e1701c9105d5</string>
</dict>
</plist>